* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

/* Header section style */
.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 20px 150px;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.nav { display: flex; }

.links {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.links a {
  color: #e5e7eb;
  text-decoration: none;
}

.header-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.header-content {
  display: flex;
  padding: 100px 0;
  gap: 20px;
}

.header {
  color: #e5e7eb;
}

.header-button {
  background-color: #3882f6;
  font-size: 18px;
  color: #e5e7eb;
  border: none;
  border-radius: 8px;
  padding: 6px 26px;
  margin-top: 10px;
}

.header-container,
.header-image {
  flex: 1;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Info section style */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 200px;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 50px;
}

.info-content { 
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-img {
  width: 130px;
  height: 130px;
  border: 4px #3882f6 solid;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Quote section style */
.quote {
  background-color: #e5e7eb;
  padding: 100px 300px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-weight: bold;
  margin-left: auto;
}

/* Call action section style */
.call-action {
  padding: 100px 150px;
}

.action-content {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
}

.action-title {
  font-size: 24px;
  font-weight: bold;
}

.action-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 100;
}

.action-button {
  font-size: 18px;
  background-color: #3882f6;
  color: white;
  border: 2px #e5e7eb solid;
  border-radius: 8px;
  padding: 6px 26px;
  align-self: center;
}

/* footer section style */
footer {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  font-size: 18px;
  padding: 30px 0;
}